<a href="https://colab.research.google.com/github/Aubindaffaalghozy/MachineLearning/blob/main/PythonBasic2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=20
print(a)
print(id(a))

20
10751464

In [2]:
a=30
print(a)
print(id(a))

30
10751784

In [3]:
a=[1,2,3,4]
print(a)
print(type(a))
print(id(a))

[1, 2, 3, 4]
<class 'list'>
138552453994496

In [4]:
a[0]=0
print(a)
print(id(a))

[0, 2, 3, 4]
138552453994496

In [5]:
a=int(input("Sample input: "))
print("Expected output: ", a>=100)

Sample input: 35
Expected output:  False

In [6]:
x = 5 + 2 * 3 / (2 - 3) ** 2
print(x)

11.0

In [8]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
    print("Gagal")

In [9]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
else:
    print("Gagal")

Gagal

In [10]:
bil = int(input("Masukan bilangan bulat: "))

if(bil%2 == 0):
    print("genap")
else:
    print("ganjil")

Masukan bilangan bulat: 7
ganjil

In [11]:
print("Masukan nilai koordinat")
x = int(input("Nilai x: "))
y = int(input("Nilai y: "))

if x>0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran I" )
elif x<0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran II" )
elif x<0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran III" )
elif x>0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran IV" )
else:
    pass

Masukan nilai koordinat
Nilai x: 3
Nilai y: 5
Koordinat (3,5) berada pada Kuadran I

In [12]:
num1 = int(input("First Number : "))
num2 = int(input("Second Number : "))
num3 = int(input("Third Number : "))

#set number1 sebagai yang terbesar
largestNum = num1

#deteksi apakah num2 > num1
if num2 > largestNum:
    largestNum = num2

#deteksi apakah num3 > num2
if num3 > largestNum:
    largestNum = num3

print("The largest number is: ", largestNum)

First Number : 3
Second Number : 4
Third Number : 5
The largest number is:  5

In [13]:
plant = input("Please input a best plant = ")

if plant == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif plant == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not "+ plant +"!")

Please input a best plant = rose
Spathiphyllum! Not rose!

In [14]:
income = float(input("Enter the annual income: "))
tax = 0

if income<85528:
    tax = 0.18 * income - 556.2
else:
    tax = 14839 + 0.2 + 0.32 * (income - 85528)

tax = round(tax, 0)

if tax<0:
    tax = 0

print("The tax is:", tax, "thalers")

Enter the annual income: 13000000
The tax is: 4147470.0 thalers

In [15]:
year = int(input("Enter a year: "))

if year < 1582:
    print("Not within the Gregorian calender period")
else :
    if year % 4 !=0 :
        print("common year")
    elif year % 100 !=0:
        print ("leap year")
    elif year % 400 !=0:
        print("common year")
    else :
        print("leap year")

Enter a year: 2025
common year

In [16]:
x = 5
y = 10
z = 8

print(x > y)
print(y > z)

False
True

In [17]:
x, y, z = 5, 10, 8

print(x > z)
print((y - 5) == x)

False
True

In [18]:
x, y, z = 5, 10, 8
x, y, z = z, y, x

print(x > z)
print((y - 5) == x)

True
False

In [19]:
x = 10

if x == 10:
    print(x == 10)

if x > 5:
    print(x > 5)

if x < 10:
    print(x < 10)
else:
    print("else")

True
True
else

In [20]:
x = "1"

if x == 1:
    print("one")
elif x == "1":
    if int(x) > 1:
        print("two")
    elif int(x) < 1:
        print("three")
    else:
        print("four")

if int(x) == 1:
    print("five")
else:
    print("six")

four
five

In [21]:
x = 1
y = 1.0
z = "1"

if x == y:
    print("one")
if y == z:
    print("two")
    print(x)
    print(y)
elif x == y:
    print("three")
else:
    print("four")

one
three

In [22]:
i = 1

while i<10:
    print(i**2)
    i = i+2

1
9
25
49
81

In [23]:
# program that reads a sequence of numbers
# and counts how many numbers are even and how many are odd
# program terminates when zero is entered

oddNumbers = 0
evenNumbers = 0

# read the first number
number = int(input("Enter a number or type 0 to stop: "))

# 0 terminates execution
while number != 0:
    # check if the number is odd
    if number % 2 == 1:
        # increase the oddNumbers counter
        oddNumbers += 1
    else:
        # increase the evenNumbers counter
        evenNumbers += 1
    # read the next number
    number = int(input("Enter a number or type 0 to stop: "))

# print results
print("Odd numbers count:", oddNumbers)
print("Even numbers count:", evenNumbers)

Enter a number or type 0 to stop: 2
Enter a number or type 0 to stop: 3
Enter a number or type 0 to stop: 0
Odd numbers count: 1
Even numbers count: 1

In [24]:
secretNum = 777

guessNum = 0

while guessNum != secretNum:
    guessNum = int(input("Input angka rahasia untuk berhenti : "))
    if guessNum != secretNum:
        print("Perulangan akan terus lanjut...")

print("Well done, Congrats...")

Input angka rahasia untuk berhenti : 3
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 2
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 1
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 0
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 9
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 777
Well done, Congrats...

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [27]:
for i in range(2,18,3):
    print(i)

2
5
8
11
14
17

In [28]:
for i in range(5):
    print(i)
else:
    print("masuk else")

0
1
2
3
4
masuk else

In [29]:
import time

for i in range(5):
    print(i," Missisipi")
    time.sleep(1)

0  Missisipi
1  Missisipi
2  Missisipi
3  Missisipi
4  Missisipi

In [30]:
for i in range (11):
    print(i, end=" ")
    if i==7:
        print(" masih dalam for")
        break

0 1 2 3 4 5 6 7  masih dalam for

In [31]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [32]:
largestNumber = -99999999
counter = 0

while True:
    number = int(input("Enter a number or type -1 to end program: "))
    if number == -1:
        break
    counter += 1
    if number > largestNumber:
        largestNumber = number

if counter != 0:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 23
Enter a number or type -1 to end program: 14
Enter a number or type -1 to end program: 56
Enter a number or type -1 to end program: 76
Enter a number or type -1 to end program: -1
The largest number is 76

In [33]:
for i in range (1,11):
    if i % 2 ==0:
        continue
    print(i, end="\t")

1	3	5	7	9

In [34]:
for i in range (1,11):
    if i % 2 ==0:
        print(i)

2
4
6
8
10

In [35]:
# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [36]:
largestNumber = -99999999
counter = 0

number = int(input("Enter a number or type -1 to end program: "))

while number != -1:
    if number == -1:
        continue
    counter += 1

    if number > largestNumber:
        largestNumber = number
    number = int(input("Enter a number or type -1 to end program: "))

if counter:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 90
Enter a number or type -1 to end program: 80
Enter a number or type -1 to end program: 70
Enter a number or type -1 to end program: 60
Enter a number or type -1 to end program: 50
Enter a number or type -1 to end program: -1
The largest number is 90

In [37]:
while True:
    word = input("Masukkan Sebuah Kata untuk keluar dari perulangan = ")
    if(word=="chupacabra"):
        break

print("You've successfully left the loop")

Masukkan Sebuah Kata untuk keluar dari perulangan = hahaha
Masukkan Sebuah Kata untuk keluar dari perulangan = yuhuu
Masukkan Sebuah Kata untuk keluar dari perulangan = chupacabra
You've successfully left the loop

In [42]:
# Prompt the user to enter a word
# and assign it to the userWord variable.
userWord = input("Masukkan sebuah kata = ")

for letter in userWord:
    if letter.upper() in ['A','I','U','E','O']:
        continue

    print(letter.upper())

Masukkan sebuah kata = AIUEO

In [43]:
x=1
while x<11:
    if x % 2 !=0:
        print(x,end=' ')
    x +=1

1 3 5 7 9

In [39]:
blocks = int(input("Enter the number of blocks: "))
current_block = 0
height = 0
i=0

while i<blocks:
    height += 1
    current_block += height
    # print(i,current_block)
    if current_block> blocks:
        break

height -= 1

print("The height of the pyramid:", height)

Enter the number of blocks: 9
The height of the pyramid: 3

In [44]:
for ch in "ratna.lestari@ugm.ac.id":
    if ch == "@":
        break
    print(ch,end=' ')

r a t n a . l e s t a r i

In [45]:
for digit in "0165031806510":
    if digit == "0":
        print ("x")
        continue
    print(digit)

x
1
6
5
x
3
1
8
x
6
5
1
x

In [46]:
n = 3

while n > 0:
    print(n + 1)
    n -= 1
else:
    print(n)

4
3
2
0

In [47]:
lst=[4,1,6,9,10,8]

print(lst[0:3])
print(lst[1:3])

print(lst[-3:])
print(lst[:-3])

print(lst[:])

[4, 1, 6]
[1, 6]
[9, 10, 8]
[4, 1, 6]
[4, 1, 6, 9, 10, 8]

In [48]:
myList = [8, 10, 6, 2, 4] # list to sort
swapped = True # it's a little fake - we need it to enter the while loop

while swapped:
    swapped = False # no swaps so far
    for i in range(len(myList) - 1):
        if myList[i] > myList[i + 1]:
            swapped = True # swap occured!
            myList[i], myList[i + 1] = myList[i + 1], myList[i]

print(myList)

[2, 4, 6, 8, 10]

In [49]:
hatList = [1, 2, 3, 4, 5]  # This is an existing list of numbers hidden in the hat.

# Step 1: write a line of code that prompts the user
# to replace the middle number with an integer number entered by the user.

# Step 2: write a line of code here that removes the last element from the list.

# Step 3: write a line of code here that prints the length of the existing list.

print(hatList)

[1, 2, 3, 4, 5]

In [50]:
buah = ["durian", "mangga", "apel"]
buah.insert(1,"kiwi")
print (buah)

['durian', 'kiwi', 'mangga', 'apel']

In [51]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [52]:
# step 1
beatles = []
print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for i in range(2):
    nama = input("Masukkan anggota baru = ")
    beatles.append(nama)
print("Step 3:", beatles)

# step 4
del beatles[-2:]
print("Step 4:", beatles)

# step 5
beatles.insert(0,"Ringo Starr")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Masukkan anggota baru = Aubin
Masukkan anggota baru = Ringo Starr
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'Aubin', 'Ringo Starr']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4

In [53]:
for i in range(10):
    print(i, end=" ")

print()
for i in range(1,7):
    print(i, end=" ")

print()
for i in range(1,10,2):
    print(i, end=" ")

print()
for i in range(10,-10,-2):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6
1 3 5 7 9
10 8 6 4 2 0 -2 -4 -6 -8

In [54]:
EMPTY = "-"
LIMALIMA = "LIMA"
ROOK = "ROOK"
KNIGHT = "KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

#isi dengan ROOK
board[0][0] = ROOK
board[5][5] = LIMALIMA
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK

#isi dengan KNIGHT
board[4][2] = KNIGHT

#isi dengan PAWN
board[3][4] = PAWN


print(board)
print("\n")

[['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', 'PAWN', '-', '-', '-'], ['-', '-', 'KNIGHT', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', 'LIMA', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK']]

In [55]:
temps = [[0.0 for h in range(24)] for d in range(31)]

# 1. the monthly average noon temperature
sum = 0.0

for day in temps:
    sum += day[11]

average = sum / 31

print("Average temperature at noon:", average)

# 2. the highest temperature during the whole month
highest = -100.0

for day in temps:
    for temp in day:
        if temp > highest:
            highest = temp

print("The highest temperature was:", highest)

# 3.count the days when the temperature at noon was at least 20 â„ƒ
hotDays = 0

for day in temps:
    if day[11] > 20.0:
        hotDays += 1

print(hotDays, "days were hot.")

Average temperature at noon: 0.0
The highest temperature was: 0.0
0 days were hot.

In [56]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

rooms[1][9][13] = True
rooms[0][4][1] = False

print(rooms)

vacancy = 0

for roomNumber in range(20):
    if not rooms[2][14][roomNumber]:
        vacancy += 1

print(roomNumber)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]
19

In [57]:
# Motivasi function adalah perulangan kode

print("Angka 1 :")
a = int(input())
print(a)

print("Angka 2 :")
b = int(input())
print(b)

print("Angka 3 :")
c = int(input())
print(c)

Angka 1 :
4
4
Angka 2 :
5
5
Angka 3 :
8
8

In [58]:
def inputAngka():
    print("Input Angka :")
    a = int(input())
    print(a)

print("Start disini... ")

inputAngka()
inputAngka()
inputAngka()

print("Stop disini... ")

Start disini...
Input Angka :
1
1
Input Angka :
2
2
Input Angka :
3
3
Stop disini...

In [59]:
def pesan(m):
    print("Pesan ",m.lower())

pesan("Hallo")
pesan("Namanya siapa ?")

Pesan  hallo
Pesan  namanya siapa ?

In [60]:
def pesan(nama, nohp):
    print("Nama : ",nama, "No Hp : ",nohp)

pesan("Abu", 123)
pesan("Abu", "0817244")

Nama :  Abu No Hp :  123
Nama :  Abu No Hp :  0817244

In [61]:
def tambahUsia(nama, umur):
    umur = umur + 0.5
    print(nama, umur)

tambahUsia("Abu Salam", 30)

Abu Salam 30.5

In [62]:
def perkenalan(namaDepan, namaBelakang):
    print("Hallo namanya adalah : ", namaDepan, namaBelakang)

perkenalan("Abu","Salam")
perkenalan("Dhita","Aulia")

Hallo namanya adalah :  Abu Salam
Hallo namanya adalah :  Dhita Aulia

In [63]:
perkenalan(namaDepan = "Abu2", namaBelakang = "salam2")
perkenalan(namaBelakang = "aulia2", namaDepan = "dhita2")

Hallo namanya adalah :  Abu2 salam2
Hallo namanya adalah :  dhita2 aulia2

In [64]:
def jumlah(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

jumlah(5,5,4)

5 + 5 + 4 = 14

In [65]:
def introduction(firstName="John",lastName="Smith"):
    print("Hello, my name is", firstName, lastName)

#Call the Function here
introduction(firstName="Abu")
introduction(firstName="Abu", lastName="Salam")
introduction("Abu", lastName="Salam")

Hello, my name is Abu Smith
Hello, my name is Abu Salam
Hello, my name is Abu Salam

In [66]:
def introductionLengkap(firstName, lastName, middleName="Guntur"):
    print("Hello, my name is", firstName, middleName, lastName)

#Call the Function here
introductionLengkap(firstName="Abu", lastName="Salam", middleName="alex")

Hello, my name is Abu alex Salam

In [67]:
def hitungLuasLingkaran(r):
    import math
    pi = math.pi
    luas = pi * r * r
    return luas

# buat sebuah fungsi untuk menghitung luas segitiga
def hitungLuasSegitiga(a,t):
    luas = 0.5 * a * t
    return luas


x = hitungLuasLingkaran(6)
y = hitungLuasSegitiga(5,10)

print(x)
print(y)

113.09733552923255
25.0

In [68]:
def boringFunction():
    print("'Boredom Mode' ON.")
    return 123

print("This Lesson is interesting!")
x = boringFunction()
print(x)
print("test")

This Lesson is interesting!
'Boredom Mode' ON.
123
test

In [69]:
def jumlah(a,b):
    c = a + b
    return c

a = jumlah(3,4)
print(a)

7

In [70]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True

#Call the Function here

print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [71]:
def sumOfList(lst):
    sum = 0

    for elem in lst:
        sum += elem

    return sum

#Call the Function here
x = sumOfList([2,2,2,2,2])
print(x)

10

In [72]:
def strangeListFunction(n):
    strangeList = []

    for i in range(0, n):
        print("Insert",i)
        strangeList.insert(0, i)
        print(strangeList)

    return strangeList

#Call the Function here
print("Hasil : ", strangeListFunction(10))

Insert 0
[0]
Insert 1
[1, 0]
Insert 2
[2, 1, 0]
Insert 3
[3, 2, 1, 0]
Insert 4
[4, 3, 2, 1, 0]
Insert 5
[5, 4, 3, 2, 1, 0]
Insert 6
[6, 5, 4, 3, 2, 1, 0]
Insert 7
[7, 6, 5, 4, 3, 2, 1, 0]
Insert 8
[8, 7, 6, 5, 4, 3, 2, 1, 0]
Insert 9
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
Hasil :  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [73]:
# Function Test tahun Kabisat
def isYearLeap(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

testData = [1900, 2000, 2016, 1987,2004]
testResults = [False, True, True, False, True]
for i in range(len(testData)):
    yr = testData[i]
    print(yr,"->",end="")
    result = isYearLeap(yr)
    if result == testResults[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK
2004 ->OK

In [74]:
def scopeTest():
    print(a)
    b = 120
    print(b)

#Call the Function here

a = 90
scopeTest()

90
120

In [75]:
def bmi(weight, height):
    if height < 1.0 \
    or height > 2.5 \
    or weight < 20 \
    or weight > 200:
        return None

    return weight / height ** 2

print(bmi(70, 1.69))

24.508945765204302

In [76]:
def bmi(weight, height):
    return weight / height ** 2

print(bmi(65, 1.69))

22.758306781975424

In [77]:
def isItATriangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False

    return True

#Call the Function here
print(isItATriangle(1,1,1))
print(isItATriangle(1,2,2))

True
True

In [78]:
def isItATriangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

a = float(input("Enter the first side's length: "))
b = float(input("Enter the second side's length: "))
c = float(input("Enter the third side's length: "))

if isItATriangle(a, b, c):
    print("Congratulations - it can be a triangle.")
else:
    print("Sorry, it won't be a triangle.")

Enter the first side's length: 23
Enter the second side's length: 4
Enter the third side's length: 6
Sorry, it won't be a triangle.

In [79]:
def factorialFun(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

#Call the Function here
for n in range(1, 15): # testing
    print(n, factorialFun(n))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200

In [80]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem1 = elem2 = 1
    sum = 0
    for i in range(3, n + 1):
        sum = elem1 + elem2
        elem1, elem2 = elem2, sum
    return sum

#Call the Function here
for n in range(1, 10): #testing
    print(n, ">", fib(n))

1 > 1
2 > 1
3 > 2
4 > 3
5 > 5
6 > 8
7 > 13
8 > 21
9 > 34

In [81]:
#recursion 1
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10): # testing
    print(n, "->", fib(n))

#recursion 2

def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34
56

In [83]:
kalimat = "Ibu pergi ke pasar dengan Bapak"
stopw = ['ke','dengan','saya','dia']

def removeStop(sentence):
#     words = []
    words = [word for word in sentence.split() if word not in stopw]
#     for word in sentence.split():
#         if word not in stopw:
#             words.append(word)

    return ' '.join(words)

# print('ke' in kalimat.split())
kalimat_stop = removeStop(kalimat.lower())

print(kalimat_stop)
# output kalimat_stop: Ibu pergi pasar Bapak"

ibu pergi pasar bapak

In [84]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#Print Function here
print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#Print Function here
print(myList)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

In [85]:
tup1 = (1,2,3,4)
tup2 = 1.0, .5, .25, .124

print(tup1)
print(tup2)

(1, 2, 3, 4)
(1.0, 0.5, 0.25, 0.124)

In [86]:
emptyTuple = ()
print(type(emptyTuple))

<class 'tuple'>

In [87]:
myTuple = (1, 10, 100, 1000)

print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])

for elem in myTuple:
    print(elem, end = " ")

1
1000
(10, 100, 1000)
(1, 10)
1 10 100 1000

In [88]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [89]:
kamus = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : [22657854310,52852352]}
emptyDictionary = {}

print()
print(phoneNumbers)
print(emptyDictionary)

{'boss': 5551234567, 'Suzy': [22657854310, 52852352]}
{}

In [90]:
schoolClass = {}

while True:
    name = input("Enter the student's name (or type exit to stop): ")
    if name == 'exit':
        break

    score = int(input("Enter the student's score (0-10): "))

    if name in schoolClass:
        schoolClass[name] += (score,)
    else:
        schoolClass[name] = (score,)

print(schoolClass)

for name in sorted(schoolClass.keys()):
    sum = 0
    counter = 0
    for score in schoolClass[name]:
        sum += score
        counter += 1
    print(name, ":", sum / counter)

Enter the student's name (or type exit to stop): Aubin
Enter the student's score (0-10): 9
Enter the student's name (or type exit to stop): exit
{'Aubin': (9,)}
Aubin : 9.0

In [93]:
def tf(sentence):
    d = {}
    for word in sentence.split():
        if word not in d:
            d[word] = 1
        else:
            d[word] += 1
    return d

kalimat = "Ibu pergi ke pasar dengan Bapak dan Ibu Ibu lain"
stopw.append('dan')
stopw.append('lain')
kalimat_stop = removeStop(kalimat.lower())
tf_kalimat = tf(kalimat_stop)

print(tf_kalimat)

{'ibu': 3, 'pergi': 1, 'pasar': 1, 'bapak': 1}

In [94]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [95]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

mahasiswa = [
    {
        'nim' : '08/123123/PA/123213',
        'nama' : 'Guntur Budi H',
        'nilai' : [80,90,75,30]
    },
    {
        'nim' : '08/213123/PA/98120',
        'nama' : 'Annisa Maulida N',
        'nilai' : [100,90,77,110]
    }
]
mahasiswa_baru = {
    'nim' : '12/12414/PA/12312',
    'nama' : 'Miftahhurahma Rosyda'
}

mahasiswa.append(mahasiswa_baru)
mahasiswa[0]['nilai'].append(79)
mahasiswa[2]['nilai'] = [80,100,95,25]

#pp.pprint(mahasiswa)
pp.pprint(mahasiswa[0]['nilai'][-1])

79

In [97]:
paragraf = """
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia. Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing. Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang. Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan. Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara.
"""

#sintaks ini
kalimat = [k.strip().upper() for k in paragraf.split('.')] #memisahkan kalimat berdasarkan titik untuk menjadi list
# print(kalimat)

#sama dengan ini
kalimat_baru = []
for k in paragraf.split('.'):
    kalimat_baru.append(k.strip())
#     if k.endswith('dunia'):
#         print("Ada Dunia pada kalimat",k)

    if k.find('dunia'):
        print("Ada dunia pada kalimat",k)


#versi satu satu
kalimat_a = paragraf.split('.') #memisahkan kalimat berdasarkan titik di paragraf
kalimat_a[1] =  kalimat_a[1].strip() #menghilangkan spasi
kalimat_a[2] =  kalimat_a[2].strip() #menghilangkan spasi

Ada dunia pada kalimat
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia
Ada dunia pada kalimat  Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing
Ada dunia pada kalimat  Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang
Ada dunia pada kalimat  Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan
Ada dunia pada kalimat  Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara
Ada dunia pada kalimat

In [98]:
k = "abu salam "
print(k.capitalize())
print(k.endswith("budi h"))

Abu salam
False

In [99]:
import math

In [100]:
import math, sys

In [102]:
from math import pi,e

print(pi)
print(e)

# dir(math)

3.141592653589793
2.718281828459045

In [103]:
## override nilai sin dan pi
from math import sin, pi

print(sin(pi/2))

print("=====")

pi = 3.14

def sin(x):
    if 2 * x == pi:
        return 0.99999999
    else:
        return None

print(sin(pi/2))

1.0
=====
0.99999999

In [104]:
from math import *
print(tan(0))

0.0

In [105]:
import math as m

print(m.pi)

3.141592653589793

In [106]:
from math import pi as PI, sin as sine

print(sine(PI/2))

1.0

In [107]:
from math import pi as PI, sin as sine

print(sine(PI/2))

1.0

In [108]:
import math

a = math.pow(2,3)
print(a)

for name in dir(math):
    print(name, end="\t")

8.0
__doc__	__loader__	__name__	__package__	__spec__	acos	acosh	asin	asinh	atan	atan2	atanh	cbrt	ceil	comb	copysign	cos	cosh	degrees	dist	e	erf	erfc	exp	exp2	expm1	fabs	factorial	floor	fmod	frexp	fsum	gamma	gcd	hypot	inf	isclose	isfinite	isinf	isnan	isqrt	lcm	ldexp	lgamma	log	log10	log1p	log2	modf	nan	nextafter	perm	pi	pow	prod	radians	remainder	sin	sinh	sqrt	tan	tanh	tau	trunc	ulp

In [110]:
from math import e, exp, log

print(pow(e, 1) == exp(log(e)))
print(pow(2, 2) == exp(2 * log(2)))
print(log(e, e) == exp(0))

True
True
True

In [111]:
from math import ceil, floor, trunc

x = 1.4
y = 2.6

print(floor(x), floor(y))
print(floor(-x), floor(-y))
print(ceil(x), ceil(y))
print(ceil(-x), ceil(-y))
print(trunc(x), trunc(y))
print(trunc(-x), trunc(-y))

1 2
-2 -3
2 3
-1 -2
1 2
-1 -2

In [109]:
from math import pi, radians, degrees, sin, cos, tan, asin

ad = 90

ar = radians(ad)
print(ar)
ad = degrees(ar)
print(ad)

print(ad == 90.)
print(ar == pi / 2.)
print(sin(ar) / cos(ar) == tan(ar))
print(asin(sin(ar)) == ar)

1.5707963267948966
90.0
True
True
True
True

In [112]:
from random import random
for i in range(5):
    print(random())

0.37204738943949567
0.7960401351751599
0.5554188988140464
0.11766772752838228
0.06502081859318598

In [113]:
# ini kode apa
from random import randrange, randint

print(randrange(200), end='\n')
print(randrange(50, 100), end='\n')
print(randrange(50, 200, 10), end='\n')
print(randint(5, 10))

97
84
100
8

In [118]:
# aritmatika.py

def tambah(a,b):
    return a+b

def kurang(a,b):
    return a-b

def kali(a,b):
    return a*b

def bagi(a,b):
    return a/b

In [121]:
pip --version

pip 24.1.2 from /usr/local/lib/python3.11/dist-packages/pip (python 3.11)

In [122]:
pip help

Usage:
  pip3 <command> [options]

Commands:
  install                     Install packages.
  download                    Download packages.
  uninstall                   Uninstall packages.
  freeze                      Output installed packages in requirements format.
  inspect                     Inspect the python environment.
  list                        List installed packages.
  show                        Show information about installed packages.
  check                       Verify installed packages have compatible dependencies.
  config                      Manage local and global configuration.
  search                      Search PyPI for packages.
  cache                       Inspect and manage pip's wheel cache.
  index                       Inspect information available from package indexes.
  wheel                       Build wheels from your requirements.
  hash                        Compute hashes of package archives.
  completion                  A helper command used for command completion.
  debug                       Show information useful for debugging.
  help                        Show help for commands.

General Options:
  -h, --help                  Show help.
  --debug                     Let unhandled exceptions propagate outside the main subroutine,
                              instead of logging them to stderr.
  --isolated                  Run pip in an isolated mode, ignoring environment variables and user
                              configuration.
  --require-virtualenv        Allow pip to only run in a virtual environment; exit with an error
                              otherwise.
  --python <python>           Run pip with the specified Python interpreter.
  -v, --verbose               Give more output. Option is additive, and can be used up to 3 times.
  -V, --version               Show version and exit.
  -q, --quiet                 Give less output. Option is additive, and can be used up to 3 times
                              (corresponding to WARNING, ERROR, and CRITICAL logging levels).
  --log <path>                Path to a verbose appending log.
  --no-input                  Disable prompting for input.
  --keyring-provider <keyring_provider>
                              Enable the credential lookup via the keyring library if user input
                              is allowed. Specify which mechanism to use [disabled, import,
                              subprocess]. (default: disabled)
  --proxy <proxy>             Specify a proxy in the form
                              scheme://[user:passwd@]proxy.server:port.
  --retries <retries>         Maximum number of retries each connection should attempt (default 5
                              times).
  --timeout <sec>             Set the socket timeout (default 15 seconds).
  --exists-action <action>    Default action when a path already exists: (s)witch, (i)gnore,
                              (w)ipe, (b)ackup, (a)bort.
  --trusted-host <hostname>   Mark this host or host:port pair as trusted, even though it does not
                              have valid or any HTTPS.
  --cert <path>               Path to PEM-encoded CA certificate bundle. If provided, overrides
                              the default. See 'SSL Certificate Verification' in pip documentation
                              for more information.
  --client-cert <path>        Path to SSL client certificate, a single file containing the private
                              key and the certificate in PEM format.
  --cache-dir <dir>           Store the cache data in <dir>.
  --no-cache-dir              Disable the cache.
  --disable-pip-version-check
                              Don't periodically check PyPI to determine whether a new version of
                              pip is available for download. Implied with --no-index.
  --no-color                  Suppress colored output.
  --no-python-version-warning
                              Silence deprecation warnings for upcoming unsupported Pythons.
  --use-feature <feature>     Enable new functionality, that may be backward incompatible.
  --use-deprecated <feature>  Enable deprecated functionality, that will be removed in the future.

In [123]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

# # instantiate the Parrot class
papi = Parrot("Papi", 3)
greeny = Parrot("Greeny", 5)

# access the class attributes
print("Papi is a " + papi.species)
print("Greeny is also a " + greeny.species)

# access the instance attributes
print(papi.name + " is " + str(papi.age) + " years old")
print(greeny.name + " is " + str(greeny.age) + " years old")

Papi is a bird
Greeny is also a bird
Papi is 3 years old
Greeny is 5 years old

In [124]:
## Objek SIswa
class Siswa:

    def __init__(self, nis, nama, alamat):
        self.nis = nis
        self.nama = nama
        self.alamat = alamat
        self.__mata_pelajaran = []
        self.__nilai = []

    def tampilkan(self):
        print("="*20)
        print(self.nis,self.nama,self.alamat)
        self.tampilkanNilai()
        self.tampilkanRataNilai()
        print("="*20)

    def tambahNilai(self, mapel, n):
        self.__mata_pelajaran.append(mapel)
        self.__nilai.append(n)

    def tampilkanNilai(self):
        for i,j in enumerate(self.__mata_pelajaran):
            print(i+1, self.__mata_pelajaran[i],self.__nilai[i])

    def tampilkanRataNilai(self):
        jumlah = 0
        for n in self.__nilai:
            jumlah += n
        rata = jumlah / len(self.__nilai)
        print("Rata-Rata Nilai",rata)

class SiswaSMK(Siswa):

    def __init__(self, nis, nama, alamat, jurusan):
        self.jurusan = jurusan
        super().__init__(nis, nama, alamat)

    def tampilkan(self):
        print("="*20)
        print(self.nis,self.nama,self.alamat)
        super().tampilkanNilai()
        super().tampilkanRataNilai()
        print("Jurusan : ", self.jurusan)


mikael = Siswa("12345", "Mikael", "Semarang")
yosua = SiswaSMK("12346", "Yosua", "Jakarta", "Rekayasa Perangkat Lunak")

## tambah nilai
mikael.tambahNilai("Matematika", 98)
mikael.tambahNilai("IPA", 95)
mikael.tambahNilai("Bahasa Inggris", 100)

mikael.tampilkan()

yosua.tambahNilai("Pemrograman Web", 100)
yosua.tambahNilai("Networking 1", 100)
yosua.tampilkan()

#mikael.tampilkanNilai()
#mikael.tampilkanRataNilai()
#yosua.tampilkan()

====================
12345 Mikael Semarang
1 Matematika 98
2 IPA 95
3 Bahasa Inggris 100
Rata-Rata Nilai 97.66666666666667
====================
====================
12346 Yosua Jakarta
1 Pemrograman Web 100
2 Networking 1 100
Rata-Rata Nilai 100.0
Jurusan :  Rekayasa Perangkat Lunak

In [128]:
class Parrot:

    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

# instantiate the object


# call our instance methods

In [129]:
class Vehicle:
    pass

class LandVehicle(Vehicle):
    pass

class TrackedVehicle(LandVehicle):
    pass


for cls1 in [Vehicle, LandVehicle, TrackedVehicle]:
    for cls2 in [Vehicle, LandVehicle, TrackedVehicle]:
        print(cls1,cls2,issubclass(cls1, cls2), end="\r\n")
    print()

<class '__main__.Vehicle'> <class '__main__.Vehicle'> True
<class '__main__.Vehicle'> <class '__main__.LandVehicle'> False
<class '__main__.Vehicle'> <class '__main__.TrackedVehicle'> False

<class '__main__.LandVehicle'> <class '__main__.Vehicle'> True
<class '__main__.LandVehicle'> <class '__main__.LandVehicle'> True
<class '__main__.LandVehicle'> <class '__main__.TrackedVehicle'> False

<class '__main__.TrackedVehicle'> <class '__main__.Vehicle'> True
<class '__main__.TrackedVehicle'> <class '__main__.LandVehicle'> True
<class '__main__.TrackedVehicle'> <class '__main__.TrackedVehicle'> True

In [130]:
class Super:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        return "My name is " + self.name + "."


class Sub(Super):
    def __init__(self, name):
        Super.__init__(self, name)


obj = Sub("Andy")

print(obj)

My name is Andy.

In [131]:
# parent class
class Bird:

    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):

    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    def whoisThis(self):
        print("Penguin")

    def run(self):
        print("Run faster")

peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

In [132]:
class Rekening:
    def __init__(self):
        self.__saldo = 0

    def kredit(self, jumlah):
        if jumlah < 0:
            print("Gagal Kredit, Jumlah tidak bisa kurang dari 0")
            return

        self.__saldo += jumlah

    def debit(self, jumlah):
        if jumlah > self.__saldo:
            print("Gagal Debit, Jumlah melebihi Saldo!")
            return

        if jumlah < 0:
            print("Gagal Debit, Jumlah tidak bisa kurang dari 0")
            return

        self.__saldo -= jumlah

    def cetakSaldo(self):
        print("Saldo saat ini " + str(self.__saldo))

bniBudi = Rekening()

bniBudi.kredit(1000)
bniBudi.cetakSaldo()
bniBudi.debit(100000)

Saldo saat ini 1000
Gagal Debit, Jumlah melebihi Saldo!

In [133]:
stack = []

def push(val):
    stack.append(val)


def pop():
    val = stack[-1]
    del stack[-1]
    return val

push(3)
push(2)
push(1)

print(pop())
print(pop())
print(pop())

1
2
3

In [134]:
class Stack:
    def __init__(self):
        self.__stackList = []

    def push(self, val):
        self.__stackList.append(val)

    def pop(self):
        val = self.__stackList[-1]
        del self.__stackList[-1]
        return val


stackObject = Stack()

stackObject.push(3)
stackObject.push(2)
stackObject.push(1)

print(stackObject.pop())
print(stackObject.pop())
print(stackObject.pop())

1
2
3

In [135]:
class Stack:
    def __init__(self):
        self.__stackList = []

    def push(self, val):
        self.__stackList.append(val)

    def pop(self):
        val = self.__stackList[-1]
        del self.__stackList[-1]
        return val


class AddingStack(Stack):
    def __init__(self):
        Stack.__init__(self)
        self.__sum = 0

    def getSum(self):
        return self.__sum

    def push(self, val):
        self.__sum += val
        Stack.push(self, val)

    def pop(self):
        val = Stack.pop(self)
        self.__sum -= val
        return val


stackObject = AddingStack()

for i in range(5):
    stackObject.push(i)
print(stackObject.getSum())

for i in range(5):
    print(stackObject.pop())

10
4
3
2
1
0

In [136]:
class Siswa:
    #class atribut
    __jmlMapel = 0
    __mapel = []
    __nilai = []

    def __init__(self, nama, alamat):
        self.nama = nama
        self.alamat = alamat

    def getNama(self):
        return self.nama

    def tambahNilaiMapel(self,mapel,nilai):
        self.__mapel.append(mapel)
        self.__nilai.append(nilai)

    def cetakNilai(self):
        for i,j in enumerate(self.__mapel):
            print(self.__mapel[i], self.__nilai[i])


s = Siswa("Guntur","Jogja")
print(s.nama) # boleh karena publik
print(s.getNama()) # bisa juga
s.tambahNilaiMapel("Matematika",90)
s.tambahNilaiMapel("Biologi",80)

s.cetakNilai() # akses nilai hanya lewat sini

# print(s.nilai) # ga boleh karena private
# print(s.__nilai) # ga boleh karena private

Guntur
Guntur
Matematika 90
Biologi 80

In [137]:
import math
class Circle:
    def __init__(self, radius, color):
        self.__radius = radius
        self.__color = color

    def getRadius(self):
        return self.__radius

    def setRadius(self,radius):
        self.__radius = radius

    def getColor(self):
        return self.__color

    def setColor(self,color):
        self.__color = color

    def getArea(self):
        return math.pi * self.__radius ** 2


# radius = 2, color = blue
c1 = Circle(2,"blue")
# c1.setRadius(2)
# c1.setColor("blue")
print(c1.getArea())

# radius = 2, color = red
c2 = Circle(2,"red")
# c2.setRadius(2)
# c2.setColor("red")
print(c2.getArea())

# radius = 1, color = red
c3 = Circle(1,"red")
# c3.setRadius(1)
# c3.setColor("red")
print(c3.getArea())

12.566370614359172
12.566370614359172
3.141592653589793

In [141]:
class Employee:
    def __init__(self,idEmp,firstName,lastName,salary):
        self.__idEmp = idEmp
        self.__firstName = firstName
        self.__lastName = lastName
        self.__salary = salary

    def getID(self):
        return self.__idEmp

    def getFirstName(self):
        return self.__firstName

    def getLastName(self):
        return self.__lastName

    def getName(self):
        return self.__firstName + " " + self.__lastName

    def getSalary(self):
        return self.__salary

    def setSalary(self,salary):
        self.__salary = salary

    def getAnnualSalary(self):
        return self.__salary * 12

    def raiseSalary(self,percent):
        self.__salary += self.__salary * (percent/100)
        return self.__salary

    def __str__(self):
        return self.getName() + " " + str(self.getSalary())


class Manager(Employee):
    def __init__(self,idEmp,firstName,lastName,salary,bonus):
        super().__init__(idEmp,firstName,lastName,salary)
        self.__bonus = bonus

    def setBranch(self, branch):
        self.__branch = branch

    def getBranch(self, branch):
        return self.__branch

    def getBonus(self, bonus):
        return self.__bonus

    def setBonus(self, bonus):
        self.__bonus = bonus

    def getAnnualSalary(self):
        return super().getSalary() * 12 + self.__bonus


m1 = Manager(1234,"Guntur","Budi",5000,9000)
print(m1.getName())
print(m1.getAnnualSalary())

# e1 = Employee(1234,"Guntur","Budi",5000)
# print(e1.getSalary())
# print(e1.getAnnualSalary())
# print(e1.raiseSalary(50))
# print(e1.getAnnualSalary())
# print(e1)

Guntur Budi
69000

In [145]:
class Person:
    def __init__(self,name,address):
        self.__name = name
        self.__address = address

    def getName(self):
        return self.__name

    def getAddress(self):
        return self.__address

    def setName(name):
        self.__name = name

    def __str__(self):
        return self.__name+" "+self.__address

In [149]:
class Student(Person):
    def __init__(self,name,address):
        super().__init__(name,address)
        self.__numCourses = 0
        self.__courses = []
        self.__grades = []

    def addCourseGrade(self,course,grade):
        self.__courses.append(course)
        self.__grades.append(grade)
        self.__numCourses += 1

    def printGrades(self):
        for i in range(len(self.__courses)):
            print(self.__courses[i] +" : "+ str(self.__grades[i]))

    def getAverageGrade(self):
        sum = 0
        for n in self.__grades:
            sum += n
        return sum / len(self.__grades)

    def __str__(self):
        return "Student: " + super().getName() + " " +super().getAddress()

In [146]:
class Teacher(Person):
    def __init__(self,name,address):
        super().__init__(name,address)
        self.__numCourses = 0
        self.__courses = []

    def addCourse(self, course):
        if course not in self.__courses:
            self.__courses.append(course)
            return True
        else:
            return False

    def removeCourse(self, course):
        if course in self.__courses:
            i = self.__courses.index(course)
            del self.__courses[i]
            return True
        else:
            return False

    def printCourse(self):
        print(self.__courses)

    def __str__(self):
        return "Teacher: " + super().getName() + " " +super().getAddress()

In [152]:
class Student:
    def __init__(self,name,address):
        self.__name = name
        self.__address = address
        self.__numCourses = 0
        self.__courses = []
        self.__grades = []

    def getName(self):
        return self.__name

    def getAddress(self):
        return self.__address

    def setAddress(self,address):
        self.__address = address

    def addCourseGrade(self,course,grade):
        self.__courses.append(course)
        self.__grades.append(grade)
        self.__numCourses += 1

    def printGrades(self):
        for i in range(len(self.__courses)):
            print(self.__courses[i] +" : "+ str(self.__grades[i]))

    def getAverageGrade(self):
        sum = 0
        for n in self.__grades:
            sum += n
        return sum / len(self.__grades)


n_siswa = int(input("Masukkan Jumlah Siswa = "))
n_course = int(input("Masukkkan Jumlah Course = "))

siswa = []
for i in range(n_siswa):
    nama = input("Masukkan Nama Siswa = ")
    alamat = input("Masukkan Alamat Siswa = ")
    siswa.append(Student(nama,alamat))
    for j in range(n_course):
        mapel = input("Masukkan Nama Mapel Siswa "+nama+" = ")
        nilai = int(input("Masukkan Nilai Mapel Siswa "+nama+" = "))
        siswa[i].addCourseGrade(mapel,nilai)

s1 = Student("Ani","Yogyakarta")
print(s1.getName(),s1.getAddress())
s1.addCourseGrade("Matematika",95)
s1.addCourseGrade("IPA",90)
s1.addCourseGrade("Bahasa Indonesia",85)
s1.printGrades()
print("Rata-Rata : ", s1.getAverageGrade())


print("Hasil")
for i in range(n_siswa):
    print(s1.getName(),s1.getAddress())
    siswa[i].printGrades()
    print("Rata-Rata : ", siswa[i].getAverageGrade())


# print()
# s2 = Student("Budi","Jakarta")
# print(s2.getName(),s2.getAddress())
# s2.addCourseGrade("Matematika",60)
# s2.addCourseGrade("IPA",70)
# s2.addCourseGrade("Bahasa Indonesia",100)
# s2.printGrades()
# print("Rata-Rata : ", s2.getAverageGrade())

Masukkan Jumlah Siswa = 1
Masukkkan Jumlah Course = 2
Masukkan Nama Siswa = ani
Masukkan Alamat Siswa = jogja
Masukkan Nama Mapel Siswa ani = mtk
Masukkan Nilai Mapel Siswa ani = 89
Masukkan Nama Mapel Siswa ani = ipa
Masukkan Nilai Mapel Siswa ani = 90
Ani Yogyakarta
Matematika : 95
IPA : 90
Bahasa Indonesia : 85
Rata-Rata :  90.0
Hasil
Ani Yogyakarta
mtk : 89
ipa : 90
Rata-Rata :  89.5

In [147]:
t1 = Teacher("Pak Budi","Jakarta")
print(t1)

t1.addCourse("Matematika")
t1.addCourse("Fisika")

t1.printCourse()
if(t1.removeCourse("Biologi")):
    print("Berhasil Dihapus")
else:
    print("Gagal Dihapus")
t1.printCourse()

Teacher: Pak Budi Jakarta
['Matematika', 'Fisika']
Gagal Dihapus
['Matematika', 'Fisika']