<a href="https://colab.research.google.com/github/Aubindaffaalghozy/MachineLearning/blob/main/TextPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
kalimat = "Berikut ini adalah 5 negara dengan pendidikan terbaik di dunia adalah Korea Selatan, Jepang, Singapura, Hong Kong, dan Finlandia."
lower_case = kalimat.lower()
print(lower_case)

berikut ini adalah 5 negara dengan pendidikan terbaik di dunia adalah korea selatan, jepang, singapura, hong kong, dan finlandia.

In [2]:
import re
kalimat = "Berikut ini adalah 5 negara dengan pendidikan terbaik di dunia adalah Korea Selatan, Jepang, Singapura, Hong Kong, dan Finlandia."

hasil = re.sub(r"\d+", "", kalimat)
hasil

'Berikut ini adalah  negara dengan pendidikan terbaik di dunia adalah Korea Selatan, Jepang, Singapura, Hong Kong, dan Finlandia.'

In [3]:
import string

kalimat = "Ini &adalah [contoh] kalimat? {dengan} tanda. baca?!!"
hasil = kalimat.translate(str.maketrans("","",string.punctuation))
hasil

'Ini adalah contoh kalimat dengan tanda baca'

In [4]:
kalimat = " \t    ini kalimat contoh \t   \n"
hasil = kalimat.strip()

hasil

'ini kalimat contoh'

In [5]:
kalimat = "rumah idaman adalah rumah yang bersih"
pisah = kalimat.split()

pisah

['rumah', 'idaman', 'adalah', 'rumah', 'yang', 'bersih']

In [15]:
import re
import string
import time
from copy import deepcopy
import pandas as pd
df = pd.read_csv('Dataset_Sentimen_Emosi.csv')
df.head()
df = df.drop(['Emosi'], axis=1)
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet     904 non-null    object
 1   Sentimen  903 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.3+ KB

In [16]:
#!pip install ekphrasis

In [17]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['email', 'percent', 'money', 'phone', 'user',
        'time', 'date', 'number'],
    # terms that will be annotated
    #annotate={"hashtag", "allcaps", "elongated", "repeated",'emphasis', 'censored'},
    annotate={"hashtag"},
    fix_html=True,  # fix HTML tokens

    # corpus from which the word statistics are going to be used
    # for word segmentation
    segmenter="twitter",

    # corpus from which the word statistics are going to be used
    # for spell correction
    corrector="twitter",

    unpack_hashtags=True,  # perform word segmentation on hashtags
    unpack_contractions=True,  # Unpack contractions (can't -> can not)
    spell_correct_elong=False,  # spell correction for elongated words

    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=True).tokenize,

    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons]
)

ModuleNotFoundError: No module named 'ekphrasis'

In [18]:
# panggil ekphrasis

def bersih_data(text):
    return " ".join(text_processor.pre_process_doc(text))

In [19]:
# fungsi dari AMS 01-03. silakan cek bagaimana saya merubah menjadi fungsi

def non_ascii(text):
    return text.encode('ascii', 'replace').decode('ascii')

def remove_space_alzami(text):
    return " ".join(text.split())

def remove_emoji_alzami(text):
    return ' '.join(re.sub("([x#][A-Za-z0-9]+)"," ", text).split())

def remove_tab(text):
    return text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")

def remove_tab2(text):
    return re.sub('\s+',' ',text)

def remove_rt(text):
    return text.replace('RT'," ")

def remove_mention(text):
    return ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())

def remove_incomplete_url(text):
    return text.replace("http://", " ").replace("https://", " ")

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def change_stripe(text):
    return text.replace('-'," ")

def lower(text):
    return text.lower()

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def lower(text):
    return text.lower()

def remove_whitespace_LT(text):
    return text.strip()

def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

def remove_punctuation(text):
    remove = string.punctuation
    remove = remove.replace("_", "") # don't remove hyphens
    pattern = r"[{}]".format(remove) # create the pattern
    return re.sub(pattern, "", text)

In [20]:
# hapus untuk <>
def remove_number_eks(text):
    return text.replace('<number>'," ")

def remove_angka(text):
    return re.sub(r"\d+", "", text)

def remove_URL_eks(text):
    return text.replace('URL'," ").replace('url'," ")

def space_punctuation(text):
    return re.sub('(?<! )(?=[.,!?()])|(?<=[.,!?()])(?! )', r' ', text)

In [22]:
i = 0
final_string = []
s = ""
for text in df['Tweet'].values:
    filteredSentence = []
    EachReviewText = ""
    proc = remove_rt(text)
    proc = lower(proc)
    proc = change_stripe(proc)
    proc = remove_emoji_alzami(proc)
    proc = remove_tab(proc)
    proc = remove_tab2(proc)
    proc = non_ascii(proc)
    proc = remove_incomplete_url(proc)
    proc = remove_excessive_dot(proc)
    proc = remove_whitespace_LT(proc)
    proc = remove_whitespace_multiple(proc)
    proc = remove_single_char(proc)
    proc = space_punctuation(proc)
    proc = remove_punctuation(proc)
    proc = remove_space_alzami(proc)
    proc = remove_number_eks(proc)
    proc = remove_angka(proc)
    proc = remove_URL_eks(proc)
    EachReviewText = proc
    final_string.append(EachReviewText)

In [25]:
df["step01"] = final_string
df.head(10)
df.info()
df_hapus = df[~df['step01'].str.contains(" ")]
df_hapus.info()
df_hapus.head(10)
df_new = df[~df.isin(df_hapus)].dropna()
df_new.info()
df_new

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet     904 non-null    object
 1   Sentimen  903 non-null    float64
 2   step01    904 non-null    object
dtypes: float64(1), object(2)
memory usage: 21.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 78 to 78
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet     1 non-null      object
 1   Sentimen  1 non-null      float64
 2   step01    1 non-null      object
dtypes: float64(1), object(2)
memory usage: 32.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 902 entries, 0 to 903
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweet     902 non-null    object
 1   Sentimen  902 non-null    float64
 2   step01    902 non-null    object
dtypes: float64(1), object(2)
memory usage: 28.2+ KB

,Tweet,Sentimen,step01
0,"Cegah mata rantai Covid-19,mari kita dirumah s...",1.0,cegah mata rantai covid mari kita dirumah saj...
1,aku mohon yaAllah semoga wabah covid-19 menghi...,1.0,aku mohon yaallah semoga wabah covid menghila...
2,Pemprov Papua Naikkan Status Jadi Tanggap Daru...,1.0,pemprov papua naikkan status jadi tanggap daru...
3,Covid belum nyampe prigen mbak hmm hoax,0.0,covid belum nyampe prigen mbak hmm hoax
4,"Nyuruh orang pintar, lu aja Togog. Itu kerumun...",-1.0,nyuruh orang pintar lu aja togog itu kerumunan...
...,...,...,...
899,Seluruh negara di dunia mengalami masa sulit k...,1.0,seluruh negara di dunia mengalami masa sulit k...
900,"Setelah covid dan skripsi disaster selesai, ma...",1.0,setelah covid dan skripsi disaster selesai mau...
901,"Malam ini!! Projek ""BENDA BOLEH BINCANG"" 9 mal...",0.0,malam ini projek benda boleh bincang malam di...
902,Pontang - panting di koyak covid 19,-1.0,pontang panting di koyak covid
903,Masalahnya sekarang isu jangkitan covid. Alaaa...,-1.0,masalahnya sekarang isu jangkitan covid alaaaa...

In [27]:
# token
import nltk
from nltk.tokenize import word_tokenize
def word_tokenize_wrapper(text):
  return word_tokenize(text)
  df_new['tokens'] = df['step01'].apply(word_tokenize_wrapper)
  df_new.head(10)
  normalized_word = pd.read_csv('kamus_clean.csv')

In [32]:
normalized_word_dict = {}

for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1]

def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]

NameError: name 'normalized_word' is not defined

In [31]:
df_new['final_tokens'] = df_new['tokens'].apply(normalized_term)

KeyError: 'tokens'

In [30]:
i=0
final_string_tokens = []
for text in df_new['final_tokens'].values:
    EachReviewText = ""
    EachReviewText = ' '.join(text)
    final_string_tokens.append(EachReviewText)

KeyError: 'final_tokens'

In [29]:
df_new["step02"] = final_string_tokens
df_new.head(10)
df_new.to_csv('clean_dataset.csv',sep=";")

NameError: name 'final_string_tokens' is not defined

In [33]:
word = 'Analitika Media Sosial'
print(len(word))

22

In [34]:
multiline = '''1
2
3
'''
print(len(multiline))

6

In [35]:
str1 = '1'
str2 = '2'

print(str1 + str2)

12

In [36]:
ch1 = 'a'
ch2 = ' ' #space
ch3 = 'A'

print(ord(ch1))
print(ord(ch2))
print(ord(ch3))

97
32
65

In [37]:
cthString="Analitika Media Sosial"
vokal = ['a','i','u','e','o']

for i in range(len(cthString)):
    if cthString[i].lower() in vokal:
        continue
    print(cthString[i], end="")

nltk Md Ssl

In [38]:
cthSlice = "Analitika Media Sosial"

print(cthSlice[1::4])
print(cthSlice[1:5])
print(cthSlice[3:])
print(cthSlice[:3])
print(cthSlice[::2])

nt iol
nali
litika Media Sosial
Ana
AaiiaMdaSsa

In [39]:
txt = """A variation of the ordinary lorem ipsum
text has been used in typesetting since the 1960s
or earlier, when it was popularized by advertisements
for Letraset transfer sheets. It was introduced to
the Information Age in the mid-1980s by the Aldus Corporation,
which employed it in graphics and word-processing templates
for its desktop publishing program PageMaker (from Wikipedia)"""

fnd = txt.find('the')
while fnd != -1:
    print(fnd)
    fnd = txt.find('the', fnd + 1)

15
80
198
221
238

In [41]:
text = 'RT : @alzami1986 suka menonton Attack on Titans! (é€²æ’ƒã®å·¨äºº) #aot  setiap kamis pukul 21.00 di http://netflix.com/aot . \\n meski tidak suka kekerasan, tapi cukup menikmati ?! #EldiaHarusMenang melawan #Marley  A ...'
print(text)

RT : @alzami1986 suka menonton Attack on Titans! (é€²æ’ƒã®å·¨äºº) #aot  setiap kamis pukul 21.00 di http://netflix.com/aot . \n meski tidak suka kekerasan, tapi cukup menikmati ?! #EldiaHarusMenang melawan #Marley  A ...

In [42]:
import re
import string
import time
from copy import deepcopy

In [44]:
hasil = text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")
hasil

'RT : @alzami1986 suka menonton Attack on Titans! (é€²æ’ƒã®å·¨äºº) #aot  setiap kamis pukul 21.00 di http://netflix.com/aot .   meski tidak suka kekerasan, tapi cukup menikmati ?! #EldiaHarusMenang melawan #Marley  A ...'

In [46]:
hasil = hasil.encode('ascii', 'replace').decode('ascii')
hasil

'RT : @alzami1986 suka menonton Attack on Titans! (?????) #aot  setiap kamis pukul 21.00 di http://netflix.com/aot .   meski tidak suka kekerasan, tapi cukup menikmati ?! #EldiaHarusMenang melawan #Marley  A ...'

In [47]:
hasil = ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", hasil).split())

In [48]:
hasil

'RT : suka menonton Attack on Titans! (?????) setiap kamis pukul 21.00 di . meski tidak suka kekerasan, tapi cukup menikmati ?! melawan A ...'

In [49]:
def remove_number(hasil):
    return re.sub(r"\d+", "", hasil)

In [51]:
hasil = remove_number(hasil)
hasil

'RT : suka menonton Attack on Titans! (?????) setiap kamis pukul . di . meski tidak suka kekerasan, tapi cukup menikmati ?! melawan A ...'

In [52]:
def remove_whitespace(hasil):
    return hasil.strip()

In [53]:
hasil = remove_whitespace(hasil)
text
hasil

'RT : suka menonton Attack on Titans! (?????) setiap kamis pukul . di . meski tidak suka kekerasan, tapi cukup menikmati ?! melawan A ...'

In [54]:
def remove_single_char(hasil):
    return re.sub(r"\b[a-zA-Z]\b", "", hasil)

In [55]:
hasil = remove_single_char(hasil)
hasil

'RT : suka menonton Attack on Titans! (?????) setiap kamis pukul . di . meski tidak suka kekerasan, tapi cukup menikmati ?! melawan  ...'

In [56]:
def remove_excessive_dot(hasil):
    return hasil.replace('...'," ")

In [57]:
hasil = remove_excessive_dot(hasil)
hasil

'RT : suka menonton Attack on Titans! (?????) setiap kamis pukul . di . meski tidak suka kekerasan, tapi cukup menikmati ?! melawan   '

In [58]:
def remove_punctuation(hasil):
    return hasil.translate(str.maketrans("","",string.punctuation))

In [60]:
hasil = remove_punctuation(hasil)
text
hasil

'RT  suka menonton Attack on Titans  setiap kamis pukul  di  meski tidak suka kekerasan tapi cukup menikmati  melawan   '

In [61]:
document = " saya                    tidak suka sambal     bikin sakit    "

In [62]:
nowhite = ' '.join(document.split())
nowhite

'saya tidak suka sambal bikin sakit'